:root {
    --base-size: 10vw;
    --base-color: rgb(69, 100, 146);
    /* var(); */
}

html, body {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: url('imgs/cody_001.jpg') no-repeat center;
    background-size: cover;
    overflow: hidden;
}

.flex {
    display: flex;
}

.jcc {
    justify-content: center;
}

.aic {
    align-items: center;
}

.lyr--1 {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.greeting {
    color: white;
    text-align: center;
    max-width: 75vw;
    margin-top: calc(var(--base-size) * 1.0);
    color: var(--base-color);
    /* color: white; */
}
.greeting .title {
    margin: 0;
    padding: 0;
    font-size: calc(var(--base-size) * 0.25);
    text-shadow: 0 4px 8px rgba(12, 23, 75, 0.1);
}

.date-time {
    font-weight: 100;
    margin: 0;
    padding: 0;
    font-size: calc(var(--base-size) * 0.165);
    opacity: 0.35;
    text-shadow: 0 2px 6px rgba(12, 23, 75, 0.15);
}